<% wrap_layout :layout do %>

  <script>
    // header breadcrumb
    var currentCourse = localStorage["current-course"];
    var currentTitle = "<%= current_page.data.title %>";

    if (currentCourse !== undefined) {
      var url = "/courses/" + currentCourse.replace(/\s/g,'-').toLowerCase() + ".html";
      $('.welcome').hide();
      $('.current-course-breadcrumb').html(" > <a href='" + url + "'>" + currentCourse + "</a>");
    }
  </script>

  <aside class='toc hide-in-mobile'>
    <h2>Table of Content</h2>
    <ul id='toc'></ul>
    <div class='template' style='display:none;'>
      <li><span class='card-icon'></span><a href=''></a></li>
    </div>
    <small title="Thank you!">• End of Course •</small>
  </aside>
  <article id='post' data-cid="<%= current_page.data.cid %>">
    <h1><%= card_icon(current_page) %> <%= current_page.data.title %></h1>
    <%= yield %>
  </article>




  <script src='/javascripts/after-post.js'></script>
<% end %>
