<!doctype html>
<html>
<head>
  <meta charset="utf-8">

  <!-- Always force latest IE rendering engine or request Chrome Frame -->
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Use title if it's in the page YAML frontmatter -->
  <title><%= current_page.data.title || "Modern Web Design" %></title>

  <!--
  <script src="https://fb.me/react-0.14.7.min.js"
        integrity="sha384-zTm/dblzLXQNp3CgY+hfaC/WJ6h4XtNrePh2CW2+rO9GPuNiPb9jmthvAL+oI/dQ"
        crossorigin="anonymous"></script>
  <script src="https://fb.me/react-dom-0.14.7.min.js"
        integrity="sha384-ntqCsHbLdMxT352UbhPbT7fqjE8xi4jLmQYQa8mYR+ylAapbXRfdsDweueDObf7m"
        crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
  -->

  <script src='https://code.jquery.com/jquery.min.js'></script>

  <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>




  <%= stylesheet_link_tag "normalize", "all" %>
  <%= javascript_include_tag  "all" %>



  <script> // Typekit
    (function(d) {
      var config = {
        kitId: 'xsx6axj',
        scriptTimeout: 3000,
        async: true
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);
  </script>
</head>

<body class="<%= page_classes %>">

  <div id='error-message'></div>

<div id='entire-page'>
  <header>
    <div style='float:right'>
      <span id='open-chat-with-thomas' class='default-hidden'><a href='#open-chat'>Chat with Thomas</a> | </span>
      <%= partial "profile" %>
    </div>
    <%= partial "header" %>
  </header>
  <div class="course-page">

    <main id='main-content'>
      <%= yield %>
    </main>

  </div>
  <footer>
    &copy; <%= Time.now.year %>, All rights reserved by <a href='http://makzan.net'>Makzan</a> • <a href='https://github.com/makzan/modern-web-design/commits/production'>Update Logs</a>.
  </footer>

</div>

<!-- Intercom -->
<script>
  (function(){
    var userData = new UserData();
    userData.displayName(function(displayName){
      window.intercomSettings = {
        app_id: "sei61ozu", //production: "sei61ozu", test:"hvjokato"
        name: displayName, // Full name
        email: userData.email(), // Email address
        uid: userData.uid(),
        created_at: 0 // Signup date as a Unix timestamp
      };
      console.log(intercomSettings);
      Intercom('boot', intercomSettings);
    });
  })();

</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/sei61ozu';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
<!-- End Intercom -->



<script src="/vendors/jquery.smoothstate.js"></script>
<script>
  var showOpenChatIfAvailable = function(){
    // header UI
    var user = (new UserData()).getAuth();
    if (user !== null) {
      $('#open-chat-with-thomas').show();
    }
  };
  showOpenChatIfAvailable();

  var handleChatWithThomas = function() {
    // chat with Thomas
    $('[href="#open-chat"]').click(function(){
      if (window.user !== null) {
        Intercom('show');
      } else {
        alert("Session expired. Please refresh.")
      }
      return false;
    });
  };
  handleChatWithThomas();


  $('#entire-page').smoothState({
    prefetch: true,
    pageCacheSize: 10,
    onAfter: function ($container, $newContent) {
      showOpenChatIfAvailable();
      handleChatWithThomas();
    }
  });
</script>


<%= partial "clicky" %>
</body>
</html>